<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: page-header"></nav>

<h1>Home</h1>

<p>PlaceHolder Text to Show authentication passed and properly redirected to /users/home</p>
<p>View your DBFile? <a href="/users/DBFile">File Away.</a></p>
<p>Chat with other users? <a href="/chat">Chat Away.</a></p>

<p>Return home? <a href="">Click Away.</a></p>
<p>Logout? <a href="/logout">Fly Away.</a></p>




</body>
</html>